server:
  port: 8080

# log setting
logging:
  level:
    com:
      USWRandomChat:
        backend: debug

spring:
  config:
    activate:
      on-profile: dev

  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/CircleLinkDev?serverTimezone=Asia/Seoul&characterEncoding=UTF-8
    username:
    password:

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

  data:
    redis:
      host: dev-redis-server
      port: 6379